*{
  box-sizing: border-box;
}

.thread-item{
  border: 1px solid black;
  width: 50%;
  margin: 0 auto;
}

.comment-item{
  border: 1px solid black;
  width: 50%;
  margin: 0 auto;
}

/* @media (prefers-reduced-motion: no-preference) {

} */

.App-header {
  color: aliceblue;
  background-color: rgb(25, 173, 124);
  display:flex;
  padding: 0 6%;
  justify-content: space-between;
  /* min-height: 100vh; */
}

.header-link{
  padding: 2rem ;
  font-size: 1.2rem;
}

.create-new-thread{
  text-align: center;
  padding-top: 3rem;
}

.font-size-large{
  font-size: 2.2rem;
}

.d-block{
  display: block;
  margin: 8rem auto 3rem;
  padding: 1.2rem;
}

.button{
  background-color: rgb(25, 173, 124);
  color: aliceblue;
  font-size: 2.4rem;
  padding: 0.2rem 2.4rem;
  border-radius: 10px;
  border: none;
}

/* .App-link {
  color: #61dafb;
} */

