/* .App {
} */

.thread-item{
  border: 1px solid black;
  width: 50%;
  margin: 0 auto;
}

.comment-item{
  border: 1px solid black;
  width: 50%;
  margin: 0 auto;
}

a{
  text-decoration: none;
}

/* @media (prefers-reduced-motion: no-preference) {

} */

.App-header {
  display:flex;
  /* min-height: 100vh; */
}

/* .App-link {
  color: #61dafb;
} */

